div.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Optionally, you can set a specific height */
  background-color: white;
  width: 100vw;

}

div.App {
  background-color: rgb(87, 76, 120);
  padding: 2em 1em;
  margin: auto;
  width: 400px;
  border-radius: 1em;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.205);
  margin-left: 550px;
}

div.group {
  vertical-align: middle;
  margin: 0.5em;
  height: 32px;
}

div.birthday {
  font-size: x-large;
  margin: 0.6em;
}

div.color-box {
  position: relative;
  top: 6px;
  display: inline-block;
  width: 50px;
  height: 20px;
  border: 1px solid black;
}

label {
  margin: 0px;
}

h1 {
  font-size: large;
  margin: 0em 0.8em;
  color:black;
}

h2 {
  display: inline;
  font-weight: bold;
  font-size: medium;
  margin: inherit;
  color:black;
}

h3 {
  font-size: large;
    margin: 0em 0.8em;
    color: black;
}

input[type="color"] {
  position: relative;
  top: 4px;
}

button {
  border: 1px solid darkgray;
  background-color: gray;
  border-radius: 4px;
  height: 30px;
  padding: 0px 1.25em;
  margin: 1em 0.5em;
}

button:hover {
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.356);
}